body {
  margin: 0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: Norse-Bold;
  src: url(Norse-Bold.otf);
}
#leftSide {
  background-image: url("background-image.jpg");
  background-size: cover;
  height: 100vh;
  min-width: 40vw;
}
#titleLogo {
  background-color: rgba(0, 0, 0, 0.416);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 0;
  position: relative;
  top: 20%;
}
img#logoImg {
  height: 6rem;
}
#title {
  color: white;
  margin: 0;
  font-family: Norse-Bold;
  font-size: 5rem;
  padding-top: 1.2rem;
}
#footer {
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 0.6rem;
  width: 40vw;
  text-align: center;
  padding: 0.2rem;
}
header {
  font-weight: 550;
  margin: 15vh 10vw 5vh 2vw;
  max-width: 60vw;
  font-size: 1.2rem;
}
header p {
  margin-top: 0;
}
header :first-child {
  margin-bottom: 0;
}
.rightSide {
  background-color: rgb(247, 247, 250);
}
h3 {
  font-weight: 550;
  margin: 0;
}
section {
  border: none;
  background-color: white;
  box-shadow: 0px 3px rgba(128, 128, 128, 0.335);
  padding: 2vh 15vw 2vh 2vw;
}
fieldset {
  border: none;
  padding: 0;
}
.mainSection {
  display: flex;
  justify-content: space-between;
}
.subSection {
  display: flex;
  flex-direction: column;
}
button {
  margin: 3vh 2.5vw;
  width: 13vw;
  height: 5vh;
  background-color: #596d48;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
label {
  font-size: 0.6rem;
  margin-top: 2vh;
  color: rgba(0, 0, 0, 0.74);
}
input {
  width: 15vw;
  border-radius: 3px;
  border: solid #e5e7eb;
}
#haveAcc {
  font-size: 0.8rem;
  margin-left: 2.5vw;
}
